*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #FFFAF9;
}

li,a{
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: black;
	text-decoration:none;
}

.cta button{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: white;
	text-decoration:none;
}

.btn button{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: white;
	text-decoration:none;
	border-color: white;
}

header{
	display: flex;
	justify-content:space-between;
	align-items: center;
	padding: 10px 10px;
	/*position: fixed;*/
}

.logo{
	
	cursor: pointer;
	margin-left:0px;
}

.logo img { 
	
	height: 30px; 
	width: 30px; 
}

.nav_links{
	list-style: none;
}

.nav_links li{
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a{
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
	color: grey;
}

.banner{
	width: 100%;
	height: 70%;
	top:17%;
	left:0px;
	position: absolute;
	align-items: center;	
}

.app-text{
	width: 50%;
	float: center;
	top: 50px;
	padding: 160px 0px 0px 400px;
}

.app-text h1{
	font-size: 73px;
	width: 600px;
	position: relative;
	margin-left: 15px;
}

.app-text h4{
	width: 600px;
	font-size: 17px;
	margin-left: 15px;
	line-height: 25px;
	color: #919191;
}

.about_logo{
	
	align-items: center;
	width: 400px;
	height: 100px;
}

.cta button{
	padding: 9px 25px;
	background-color: black;
	border: none;
	border-radius: 10px;
	cursor:pointer;
	height: 50px;
	transition: all 0.3s ease 0s;
}

.cta button:hover{
	background-color: grey;
}

.about_banner{
	width: 100%;
	height: 67.3%;
	top:87%;
	left:0px;
	position: absolute;
	
}

.app-text1{
	width: 20%;
	float: left;
	margin-left: 20px;
	margin-top: 100px;
	background-color: #D8D5D4;
}

.app-text1 h1{
	font-size: 43px;
	width: 300px;
	position: relative;
	margin-left: 15px;
}

.app-text1 h4{
	width: 600px;
	font-size: 17px;
	margin-left: 15px;
	line-height: 25px;
	color: #393939;
	font-family: "Arial", sans-serif;
}

.app-pic{
	width: 50%;
	float: right;
	
}

.app-pic img{
	width: 100%;
	margin-top: 0px;
	padding-left: -20px;
	
}



.about_banner1{
	width: 100%;
	height: 450px;
	top: 900px;
	left:0px;
	position: absolute;
	
}

.app-text2{
	width: 20%;
	float: left;
	margin-left: 20px;
	
	background-color: #EAE7E7;
}

.app-text2 h1{
	font-size: 63px;
	width: 600px;
	position: relative;
	margin-left: 250px;
	margin-top: 50px;
	font-family: "Arial", sans-serif;
	font-weight: 600;
	padding: 0px 150px;
}



.about_text{
	width: 50%;
	float: right;
	
}

.about_text h4{
	margin-top: 70px;
	width: 600px;
	font-size: 17px;
	margin-left: -70px;
	line-height: 25px;
	color: #393939;
	font-family: "Arial", sans-serif;
	font-weight: 400;
}


.thirdsection{
	font-size: 30px;
	margin-top: 1200px;
	height: 400px;
}

.officesec{
	font-size: 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

.img_class{
	
	margin-left:0px;
}

.img_class img{
	height: 100px; 
	width: 100%; 
}

.box{
	background-color: #F0E7E6 ;
	height: 800px;
	margin-top: 790px;
	justify-content: space-between;
	padding: 20px 20px;
}

.box h2{
	font-size: 40px;
	margin-left:20px;
}

.box h4{
	font-size: 20px;
	margin-left: 20px;
	
}

.first{
	width: "50%";
	font-size: 16px;
	margin-left: 30x;
	float: left;
}

.second{
	width: "50%";
	font-size: 16px;
	margin-left: 60px;
	margin-right: 30px;
	float: right;
}

.banner1{
	width: 100%;
	height: 350px;
	top: 3250px;
	left:0px;
	position: absolute;
	
}

.app-text2{
	width: 20%;
	float: left;
	margin-left: 20px;
	margin-top: 85px;
	background-color: #C2C1AF;
}

.app-text2 h1{
	font-size: 33px;
	width: 500px;
	position: relative;
	margin-left: 15px;
	font-family: "Arial", sans-serif;
}

.app-text2 h4{
	width: 600px;
	font-size: 15px;
	margin-left: 15px;
	line-height: 25px;
	color: black;
	font-family: "Arial", sans-serif;
}

.team_img{
	width: 100%;
	height: 350px;
	top:2150px;
	left: 0px;
	position: absolute;
	background-color: #D8D5D4;
}

.column {
  float: left;
  padding: 20px;
  height: 650px; /* Should be removed. Only for demonstration */
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 20px 30px;
  height: 350px; /* Should be removed. Only for demonstration */
}

.column img{
	width: 350px;
	height: 100px;
	cursor: pointer;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.main_btn button{
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: black;
	text-decoration:none;
}

.main_btn button{
	padding: 11px 25px;
	background-color: white;
	border-color: black;
	border-radius: 15px;
	cursor:pointer;
	transition: all 0.3s ease 0s;
	margin-left: 15px;
	border: 3px solid black;
}

.main_btn button:hover{
	background-color: black;
	color: white;
}